extends layout

block content
  .panel.panel-default
    img.img-circle.img-responsive.center-block(src='/images/profile.jpg', alt='Pralhad Patil', width='300', height='300',)
    .panel-body Lorem ipsum dolor sit amet, an modus option pri, autem errem ponderum qui ut. Oratio prompta reprehendunt cum id, pri id pericula adipiscing delicatissimi, id quando inermis voluptua sea. Saepe accusam rationibus ad duo. Id possim reformidans mei, aliquid oporteat deseruisse ad per. Mundi insolens vix ut. Ex ius mentitum adversarium, at tractatos voluptatibus qui. No qui nonumy scripserit. Ut exerci commodo apeirian mei, voluptua recusabo pro et, amet meis ea has. Munere timeam vivendum cum et, ad reque tincidunt ius, at usu alii tation diceret. Vidisse principes sit ut, eu ius elit pertinax. Eu verear moderatius eum. Iisque maiorum te quo.
